<div class="wrapper">

	<header>
        <h1>{{title}}</h1>  
        
    </header>	
    <app-menu></app-menu>
	
	<section class="columns">        
		<div class="column">			
			<router-outlet></router-outlet>
		</div>    
	</section>
	
	<footer>
		<h3>Footer</h3>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, porro. Doloribus vitae non dolores modi dolorum commodi perspiciatis dicta nostrum minus esse, totam officia, quibusdam amet quas tempora? Voluptatibus, esse.</p>
	</footer>
</div>